<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SPORTGEAR ADMIN</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body style="font-family: Poppins, sans-serif; font-weight: 300; font-style: normal;">

<header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #EDEFF0;font-size: 20px">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <img src="/Images/Usco.png" alt="Imagen de la Usco">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" th:href="@{/}" style="color: black;">Inventario
                        <span class="sr-only">(current)</span>
                    </a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/listarCategorias}" style="color: black">Categorias</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="alert alert-success alert-dismissible fade show" th:if="${success != null}">
        <label th:text="${success}"></label>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" th:if="${error != null}">
        <label th:text="${error}"></label>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" th:if="${warning != null}">
        <label th:text="${warning}"></label>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</header>

<br>
<div class="container text-center">
    <h4 th:text="${titulo}"></h4>
</div>

<br>

<div class="container">

    <a class="btn btn-outline-primary btn-sm" th:href="@{/nueva_categoria}"
       th:text="'Nueva Categoria'" title="Crear nueva Categoria">
    </a>

    <br>
    <br>

    <table class="table table-hover" >
        <thead class="thead" style="background-color: #DFD4A6; font-family: 'Inter Semi Bold'">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre Implemento</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Categoría</th>
            <th scope="col">Disponibilidad</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="inven:${inventario}">
            <th scope="row" th:text="${inven.id}"></th>
            <td th:text="${inven.nombreImplemento}"></td>
            <td th:text="${inven.cantidad}"></td>
            <td th:text="${inven.catImplementos.nombre}"></td>
            <td th:text="${inven.disponibilidad}"></td>
            <td th:text="${inven.estado}"></td>
            <td>
                <a th:href="@{/editar/{id}(id=${inven.id})}" title="Editar Implemento">
                    <img src="/Images/Edit.png" alt="Editar Implemento" style="width: 30px; height: 30px">
                </a>
            </td>
            <td>
                <a th:href="@{/eliminar/{id}(id=${inven.id})}" title="Eliminar Implemento">
                    <img src="/Images/Delete.png" alt="Eliminar Implemento" style="width: 30px; height: 30px"
                   onclick="return confirm('Esta seguro de Eliminar al Implemento?');">
                </a>
            </td>
        </tr>
        </tbody>
    </table>


</div>

<div class="container">
    <a th:href="@{/crear_implemento}" title="Agregar nuevo Implemento">
        <img src="/Images/Add.png" alt="Agregar nuevo Implemento" style="width: 50px; height: 50px">
    </a>
</div>

</body>
</html>